<a href="https://colab.research.google.com/github/M-MubashirAI/Basic_python_practic/blob/main/Data_analytic_and_python_course_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>










**Print Statement**

To call a print function in python we just need to write print foolwed by parentheses () and values written inside quotation marks""

**Input**

print("Hello World")

**Output**

Hello World

In [ ]:
print("hello world")

hello world

In [ ]:
print("I hope you all is absolutely fine")

I hope you all is absolutely fine

**Using multiple lines in Print statement:**

There are two mehtods to write a statement in multiple lines:


*   To print multiple lines in python, triple Quotations are used.
*   \n(backslash) is used to insert something in the next line.

In [ ]:
print("""this is my first program
I want to do learn the basica of python
and gradually move to advance concepts""")

this is my first program
I want to do learn the basica of python
and gradually move to advance concepts

In [ ]:
print("""when I'm start the computer Science
those days I was zero in programming
even I can't to open laptop or computer and basics it's function""")

when I'm start the computer Science
those days I was zero in programming
even I can't to open laptop or computer and basics it's function

In [ ]:
print("hi there \nI hope you all tight \nyou doing amaizing approximately")

hi there
I hope you all tight
you doing amaizing approximately

In [ ]:
print("Now I dive in Data Science and AI, Machine learning\nDeep leraning\nand many more")

Now I dive in Data Science and AI, Machine learning
Deep leraning
and many more

In [ ]:
print('it\'s a hot today weather')

it's a hot today weather

# **Comments in Python**

**Single Line comments**

To add single line comments, # hash is used.

Python completely ignores anything written after #.

In [ ]:
# Hi all hope python course is going better understanding

**Multiline comments**

To add multiline commentst in python, triple Quotations are used.

In [ ]:
#Now we start to write how write comments
# For single comments just write the word #
# if we write the multiple line comments then we write tripple quatation such as example :
""" Hope to all that you are doing well
and so on then progress will near to you
and one day become success and progress"""

' Hope to all that you are doing well \nand so on then progress will near to you\nand one day become success and progress'

In [ ]:
"""hope to all that you are doing well
and so on then progress will near to you
and one day become success and progress"""

'hope to all that you are doing well\nand so on then progress will near to you\nand one day become success and progress'

# **Variables**


*   Variables are placeholders, which can store a value.

*   In simple words, Variable is container that hold data inside it as a value.

**Input-**

a = "hello world"

print(a)

**Output-**

hello world

In [ ]:
# Let's start the how write the variables and their rules

In [ ]:
a = 'hello world'
print(a)

hello world

**Rules for writing a Variables**

1. Python is case-sensitive Language, therefore the variables names are case-sensitive as well.

**Input-**

A = "hello"

print(a)

**Output-**

It will throw an error as the cases used here for variable's name is different.

2. Make sure to not use spaces while creating a variable.

One can use (_) underscore to separate the names while writhin a variable.

3. A variable name should never sart with a number or special symbols.

In [ ]:
Name = "Johne"
print(name)

NameError: name 'name' is not defined

In [ ]:
Name = "Johme"
print(Name)

Johme

In [ ]:
fist_name = "hamar"
Second_Nmae = "tumhare"
print(Second_Nmae)

tumhare

In [ ]:
First_Name = "jhone"
Second_Name = "kisic"
print(Second_Name)

kisic

In [ ]:
3rd = "Rules"
print(3rd)

SyntaxError: invalid decimal literal (<ipython-input-18-510328d428ee>, line 1)

In [ ]:
num3 = 3333
print(num3)

3333

# **Datatypes and User-Input**

Text types : strigs, char

 Numeric types : int, flaot, complex numbers

  Sequence types : list, tupple, range
  
   Mape types : dictionary (dict)
   
   Set types : set, frozen set.
   
   Boolean types : bool.
   
   Binary types : byts, bytearry, memoryview.

In [ ]:
#then Now start the data types. the are many datatypes which are describe below
# Text types : strigs, char
# Numeric types : int, faot, comples numbers
# Sequence types : list, tupple, range
# Mape types : dictionary (dict)
# Set types : set, frozen set.
# Boolean types : bool.
# Binary types : byts, bytearry, memoryview.

In [ ]:
# Lets talk about the user_input
name = input("enter your name here:")
print(name)
age = int(input("enter you age here:"))
print(age)
age = float(input('enter your age here:'))
print(age)
exp1 = eval(input('enter your any equation here:'))
print(exp1)

enter your name here:numan
numan
enter you age here:44
44
enter your age here:33.3
33.3
enter your any equation here:3*55
165

# **Type Casting and Subtypes**

Conversion of one datatypes to another is called as type-casting.

There are two types of type-casting:
1. Implecit type Conversion: Where python itself converts one datatype to another.
2. Explicit Type Conversion: where the user converts one datatype to another.

In [ ]:
# TYPE CASTING : type casting mean that one data types convert into other type of data types is called as type casting .
# there are two type : (1) IMPLICIT CASTING , (2) EXPLICIT CASTING
# IMPLICIT: mean that pyton coverts into  other types
#EXPLICIT: mean that user convert into other data types e.g
a = 234
b = 2.34
c = a+b
print(c)
print(type(c))

236.34
<class 'float'>

In [ ]:
tum = 239
hum = 2.44
jhan = tum+hum
print(jhan)
print(type(jhan))

241.44
<class 'float'>

In [ ]:
# Implicit casting e.g
a = '234'
b = 2.45
c = float(a)
print(c)
print("After conversion :",type(c))

234.0
After conversion : <class 'float'>

In [ ]:
a = "123"
print(type(a))
a = int(a)
print(int(a))
print("after converion",type(a))

<class 'str'>
123
after converion <class 'int'>

# **Problem Solving**

In [ ]:
#TASK 1
# write a programe to display a person's name, age and address in three different lines
Name="Mubashir Malik"
Age= 21
Address= "Rehaman Abad, jalal Pur Peer Wala,Multan"
Passion= "To learn the modern technology and grow,live with new era and should be freedom financially"
print("Name:",Name)
print("Age:",Age)
print("Address:",Address)
print("Passion:",Passion)

Name: Mubashir Malik
Age: 21
Address: Rehaman Abad, jalal Pur Peer Wala,Multan
Passion: To learn the modern technology and grow,live with new era and should be freedom financially

In [ ]:
Person = 'Male'
Name = "Mubashir MLIK"
Age = 22
Adress = 'Rehamana Abad Tehsil Jalal Pur Peer Wala,Multan'
Passion= 'To become entreprenaur and effort to teach new technologly and grow and freedom finiancially'
print('Person:',Person)
print('Name:',Name)
print('Age:',Age)
print('Adress:',Adress)
print('Passion:',Passion)

Person: Male
Name: Mubashir MLIK
Age: 22
Adress: Rehamana Abad Tehsil Jalal Pur Peer Wala,Multan
Passion: To become entreprenaur and effort to teach new technologly and grow and freedom finiancially

In [ ]:
#TASK 2
# write a programe to swap two variables : 1rst method
a = 39
b = 79
temp = a
a = b
b = temp
print("the value of a:",a)
print("the value of b:",b)
#2nd method
a,b = b,a
print(a)
print(b)

the value of a: 79
the value of b: 39
39
79

In [ ]:
# 2nd method
x = 83
y = 29

x,y = y,x
print("the value of y:",y)
print("the value of x",x)

the value of y: 83
the value of x 29

In [ ]:
#TASK 3
# Write a programe which is float convert into integer
a = 34.5
print(a)
print(type(a))
a = int(a)
print(a)
print("the value of a:",type(a))

34.5
<class 'float'>
34
the value of a: <class 'int'>

In [ ]:
#TASK4
# Write a programe the take to user's of ID card number details in different line

enter the your name here:Muna
name Muna
enter the your address:8888 nasti maliool
address 8888 nasti maliool
enter your age here:34
age 34
enter your email here:mubashirmuhammadmubashir3@gmail.com
email: mubashirmuhammadmubashir3@gmail.com

In [ ]:
name= input("enter your name here:")
print("Name:",name)
age= int(input("enter your age here:"))
print("Age:",age)
address= input("enter the your address:")
print("Address:",address)
email= input("enter the your email here:")
print("Email:",email)

enter your name here:Mubshir Malik
Name: Mubshir Malik
enter your age here:22
Age: 22
enter the your address:Jalal Pur Peer Wala
Address: Jalal Pur Peer Wala
enter the your email here:mubashir1859128@gmail.com
Email: mubashir1859128@gmail.com

In [ ]:
# Write a program to take a user input as integer then covert it into float.
a = int(input("enter your lenght here:"))
print(a)
print(type(a))
a = float(a)
print(a)
print(type(a))

enter your lenght here:10
10
<class 'int'>
10.0
<class 'float'>

# **Operators and Operands**

Operators indicates what operation is to be performed while Operands indicates on what the action or the operation should be performed.

x+y = 0

in the expression, x,y, and 0 are Operands and +,= are operators

# **Types of Operators**

# (1) Arithmatic operators
# (2) Comparison Operators
# (3) Logical operators
# (4) identity Operators
# (5) Membership Operators
# (6) Assignment Operators
# (7) Bitwise operators

In [ ]:
# OPERATORS : Types of operators
# (1) Arithmatic operators
# (2) Comparison Operators
# (3) Logical operators
# (4) identity Operators
# (5) Membership Operators
# (6) Assignment Operators
# (7) Bitwise operators

In [ ]:
# Arithmatic Operators
print("addition",3+5)
print("Subtraction",9-4)
print("Multiplication",3*5)
print("Divion",8/2)
print("Modulus",8%2)
print("Floor division",8//2)
print("Exponention",2**10)

addition 8
Subtraction 5
Multiplication 15
Divion 4.0
Modulus 0
Floor division 4
Exponention 1024

In [ ]:
# Cmparison Operators
print("is equal to ",3==3)
print("is larger than ",8>3)
print("is less than ", 3<8)
print("is not equal to ",5!=3)
print("is equal to or larger than",8>=7)
print("is equal to or less than",4<=4)

is equal to  True
is larger than  True
is less than  True
is not equal to  True
is equal to or larger than True
is equal to or less than True

In [ ]:
# Logical Operators
print("and operator",2<5 and 5>2)
print("or Operator",8<3 or 9>3)
print("Not operator",not(8<2 or 2>3))

and operator True
or Operator True
Not operator True

In [ ]:
# Assignment Operators
x = 10
x += 5
print(x)
x -= 5
print(x)
x *= 5
print(x)

15
10
50

In [ ]:
x = 10
x -= 5
print(x)

5

In [ ]:
# Identity Operators
a = 123
b = "123"
print(a is b)
print(a is not b)
a = 123
b = 123
print(a is b)

False
True
True

In [ ]:
# Bitwise Operators : Those number which compare the binary number
# AND (&) Operators
# OR (|) Operators
# XOR (^) Operators
# >> Zero fill left shift
# << Zero fill Right shift

In [ ]:
# Then we now about the binary numbers
print(bin(10))

0b1010

In [ ]:
print(bin(20))

0b10100

In [ ]:
print(bin(30))

0b11110

In [ ]:
print(bin(15))
print(bin(40))

0b1111
0b101000

In [ ]:
#AND(&) Operator and OR operator and xor operator
a = 10
b = 8
print(a & b)
print(a | b)
print(a ^ b)

8
10
2

In [ ]:
# >>zero fill left shift
print(10>>2)
print(10>>1)

2
5

In [ ]:
# <<zero fill right shift
print(10<<2)
print(10<<1)

40
20

In [ ]:
# Membership operator
# in
# not in
a = 'heloo'
print('a' in a)
print('e' in a)
print('o' not in a)
print('p' not in a)

False
True
False
True

In [ ]:
b= "Hie there man"
print("a" in b)
print('b' not in b)

True
True

# **Conditional Statements:**

Conditional statement allows computer to execute a certain condition only if it is true.

**Types**

# 1. If statement
# 2. If-else statement
# 3. If-elif-else statement
# 4. Nested statement
# 5. Short Hand if statement
# 6. short Hand if-else statement

In [ ]:
# TOPIC IS: Conditional Statements: It's statements which allows to computer to execute if condition is only true
# 1. If statement
# 2. If-eslse statement
# 3. If-elif-else statement
# 4. Nested statement
# 5. Short Hand if statement
# 6. short Hand if-else statement

In [ ]:
# If the statement
marks = 98
if marks>=90:
    print('You will get a phone')
print("thank you")

You will get a phone
thank you

In [ ]:
man = 2000
if man>3000:
  print("You buy a black shoes")
else:
  print("You go to work for buy")

You go to work for buy

In [ ]:
# If-else statement
marks = 87
if marks>=90:
    print('You wil get a phone')
else:
    print('no phone for one week')
print("thank you")

no phone for one week
thank you

In [ ]:
# Nested if statements
marks = 97
if marks==90:
  print("you will ger a new phone")
elif marks>88:
    print("you will get a ticket a trip")
else:
  print("not a phone for a month")

you will get a ticket a trip

In [ ]:
students= 80
if students>=70:
  print("Students can go to trip")
  if students<=80:
    print("Students can go to playground for just gamming")
else:
  print("All students can go to home")

Students can go to trip
Students can go to playground for just gamming

In [ ]:
#Short Hand if statements: that's called as one linar statements
marks = 90
if marks >=90:  print("you will get a phone")

you will get a phone

In [ ]:
# Short Hand-If-else Statements that's also called as one linar statements
marks = 87
print('you will go to a trip') if marks >= 90 else ('you will fail in fifth class')

'you will fail in fifth class'

# **Problem Solving**

In [ ]:
# Let's move on the "PROBLEM SOLVING"

In [ ]:
# TASK:1
# Write a programe to check that a number is positive or negative. Let's start now
user = int(input("enter the number here"))
if user >= 0:
  print("it is a positive number")
else:
  print("it is a negative number")

enter the number here77777
it is a positive number

In [ ]:
# TASK:2
# Write a program which check the number is odd or even. Let's start
user = int(input("enter the number here:"))
if user % 2 ==0:
  print("it is an even number")
else:
  print("it is an odd number")

enter the number here:8
it is an even number

In [ ]:
User = int(input("enter the any number here:"))
if User % 2 ==0:
  print("It is an even number:")
else:
  print("It is an odd number")

enter the any number here:90
It is an even number:

In [ ]:
# TASK:3
# Write a programe to create area calculator. Let's start now
print("******AREA CALCULATOR******")
print("""press 1 then know about the area of square
if press 2 then know about the area of rectangle
if press 3 then know about the area of circle
if press 4 then know about the area of triangle""")
user = int(input("enter the number 1-4 know area:"))
if user ==1:
  side = int(input("enter the area of one side:"))
  square = side**2
  print("the area of square:",square)
elif user ==2:
  width = int(input("enter the width here:"))
  hieght = int(input("enter the hieght here :"))
  rectangle = width*hieght
  print("the area of rectangle:",rectangle)

elif user ==3:
  radius = int(input("enter area of radius here"))
  circle = ((22/7)*(radius**2))
  print("the area of circle:",circle)
elif user ==4:
  base = int(input("enter the base here:"))
  hieght = int(input("enter the hieght here:"))
  triangle = 0.5*base*hieght
  print("the area of triangle:",triangle)
else:
  print("invalid number")

******AREA CALCULATOR******
press 1 then know about the area of square
if press 2 then know about the area of rectangle
if press 3 then know about the area of circle
if press 4 then know about the area of triangle
enter the number 1-4 know area:2
enter the width here:5
enter the hieght here :3
the area of rectangle: 15

In [ ]:
# TASK:3
print("******AREA CALCULATOR******")
print("""press 1 then know about the area of square
if press 2 then know about the area of rectangle
if press 3 then know about the area of circle
if press 4 then know about the area of triangle""")
user = int(input("enter the number 1-4 to know the area:"))

if user == 1:
    side = int(input("enter the length of one side:"))
    square = side**2
    print("the area of square:", square)
elif user == 2:
    width = int(input("enter the width here:"))
    height = int(input("enter the height here:"))
    rectangle = width * height
    print("the area of rectangle:", rectangle)
elif user == 3:
    radius = int(input("enter the radius here:"))
    circle = (22 / 7) * (radius ** 2)
    print("the area of circle:", circle)
elif user == 4:
    base = int(input("enter the base here:"))
    height = int(input("enter the height here:"))
    triangle = 0.5 * base * height
    print("the area of triangle:", triangle)
else:
    print("invalid number")

******AREA CALCULATOR******
press 1 then know about the area of square
if press 2 then know about the area of rectangle
if press 3 then know about the area of circle
if press 4 then know about the area of triangle
enter the number 1-4 to know the area:1
enter the length of one side:21
the area of square: 441

In [ ]:
# TASK:4
# Write a programe which check the letter is vowel or not
user = input("enter letter to check the vowel:")
if user in "aeiou":
  print("it is an vowel letter")
else:
  print("it is not ")

enter letter to check the vowel:p
it is not

In [ ]:
user= input("enter the any letter:")
if user in "aeiou":
  print("It is an vowel letter")
else:
  print("It is an not a vowel letter")

enter the any letter:y
It is an not a vowel letter

In [ ]:
# TASK:5
# Write a programe that is check it is 1 digit,2 digit so on up to 5
user = int(input("enter the digit 1 to 5 here:"))
if user >=0 and user <=9:
  print("it is 1 digit")
elif user >=10 and user <=99:
  print("it is 2 digit ")
elif user >=100 and user <=999:
  print("it is 3 digit")
elif user >= 1000 and user <=9999:
  print("it is 4 digit")
else:
  print("it is 5 digit number")

enter the digit 1 to 5 here:66
it is 2 digit

In [ ]:
user = int(input("enter the digit between 1 to 5:"))
if user>=0 and user<=9:
  print("It is one digit")
elif user>=10 and user<=99:
  print("It is two digit number")
elif user>=100 and user<=999:
  print("It is three digti number")
elif user>=1000 and user<=9999:
  print("It is four digit number")
else:
  print("It is five digit number")

enter the digit between 1 to 5:2999
It is four digit number

# **Introduction To Loops:**
#Loops:

A Loops repeat something axact in same way

# types of Loops
# (1) for loops
# (2) While loops
# (3) While True loops
# (4) Nested loop

In [ ]:
# Introduction to Loops: A Loops repeat something axact in same way
# types of Loops
# (1) for loops
# (2) While loops
# (3) While True loops
# (4) Nested loop

# **For loop:**
A loop which repeat any thing in a given range .

The range has ben starting point, ending point and a step/ gap in it.

In [ ]:
# For loop: Which repeat any thing in a given range e.g
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
# we should know about the odd number
for i in range(1,15,2):
  print(i)

1
3
5
7
9
11
13

In [ ]:
n = 7
for i in range(1,11):
  print(n,"x",i,"=",n*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
n=3
for i in range(1,11):
  print(n,"X",i,"=",i*n)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [ ]:
# We write the any multiplication number , such as any number multiplication
user = int(input("enter the any number here:"))
for i in range(1,11):
  print(user,"x",i,"=",user*i)

enter the any number here:34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

In [ ]:
user = int(input("enter the any number here:"))
for i in range (1,11):
  print(user, "x",i,"=",user * i)

enter the any number here:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
for i in range (1,15,2):
  print(i)

1
3
5
7
9
11
13

# **While Loop:**


*   While Loop executes till the given condition is true.

*   In while loop, the increment is done inside the loop.

In [ ]:
# Let's talk about the While loop: it repeat even condition will be true
n = 6
while n<=17:
  print(n)
  n += 2

6
8
10
12
14
16

In [ ]:
kamal= 1
while kamal<=15:
  print(kamal)
  kamal += 2

1
3
5
7
9
11
13
15

In [ ]:
n = 1
a = 8
while n<=10:
  print(a,"x",n,"=",a*n)
  n +=1

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
n=7
for i in range(1,11):
  print(n,"x",i,"=",n*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
n =1
b = 5
while n<=10:
  print(n,"x",b,"=",n*b)
  n +=1

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [ ]:
a = 1
n = int(input("enter here any number here:"))
while a<=10:
  print(n,"x",a,"=",a*n)
  a+=1

enter here any number here:6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
enter here any number here:8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

# **While True Loop:**

*   It is an infinite loop
*   To break a while true loop, break statement is used.

In [ ]:

 #While True loop: it is infinite loop
while True:
    num1 = int(input("enter here a number:"))
    num2 = int(input("inter here another number:"))
    print(num1+num2)
    repeat = input("Do you want stope the programe (yes/no):")
    if repeat == "yes":
        break

enter here a number:7
inter here another number:7
14
Do you want stope the programe (yes/no):yes

In [ ]:
while True:
  user1 = int(input("enter the any number here:"))
  user2 = int(input("enter the any number here:"))
  print(user1*user2)
  user = input('do you want stop this program')
  if user == "yes":
    break

enter the any number here:9
enter the any number here:9
81
do you want stop this programyes

In [ ]:
while True:
  num1 = float(input("enter the any number here:"))
  num2 = float(input("enter the any number here:"))
  print(num1+num2)
  repeat = input("Do you want stop the program (yes or no):")
  if repeat == "yes":
    break

enter the any number here:65
enter the any number here:6
71.0
Do you want stop the program (yes or no):no
enter the any number here:87
enter the any number here:76
163.0
Do you want stop the program (yes or no):yes

In [ ]:
while True:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    print(num1 + num2)
    repeat = input("Do you want to stop the program? (yes/no): ")

    if repeat.lower() == "yes":
        break

Enter a number: 76
Enter another number: 7
83
Do you want to stop the program? (yes/no): yes

# **Nested Loop:**


*   A loop have iside loop is called Nested Loop
*   It is used to find the solve pattern problem

In [ ]:
# Nested Loop: A Loop have inside loop is called Nested Loop , it is used to find the pattern problem solving
for i in range(1,4): # outer loop
  for j in range(1,11): # inner loop
    print(j)
print()

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,4):
  for j in range(1,11):
    print(j, end = " ")#The print(j, end=" ") ensures all numbers in the inner loop are printed on the same line, separated by spaces.
  print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [ ]:
# Pattern problem solving
for i in range(1,6):
  for j in range(1, i+1):
    print(j, end = " ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(5,12):
  for k in range(5, i+1):
    print(k,end=" ")
  print()

5
5 6
5 6 7
5 6 7 8
5 6 7 8 9
5 6 7 8 9 10
5 6 7 8 9 10 11

# **For Loop with conditional Statements**
The use of if-else statements increases the ability of for loop to completes the task effectively. By using if-else statements we can provide with special conditions inside for loop.

In [ ]:
# TOPIC
# For Loop with conditional statement
for i in range(1,11):
  print(i)
  if i==3:
    print("add this song is fovs")

1
2
3
add this song is fovs
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  if i==3:
    print("This song is my fovourite")
  else:
    print(i)

1
2
This song is my fovourite
4
5
6
7
8
9
10

In [ ]:
for i in range (1,6):
  for j in range(1, i+1):
    print(j, end =" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,100):
  if i % 8 == 0 and i % 12 == 0:
    print(i)

24
48
72
96

In [ ]:
n = 1
while n <= 10:
  if n == 3:
    print("This is my fovourite song")
  else:
    print(n)
  n +=1

1
2
This is my fovourite song
4
5
6
7
8
9
10

# **Break and Continue Statements:**
# Continue Statement:
It us used when you want to skip a  particular condition.
# Break Statements:
Break Statement is used when you want to destroy a loop at a certain condition and come out of the loop.

In [ ]:
# Break and continue statements
# (1) CONTINUE STATEMENT: it is used when you want to skip a particular condition
# (2) BREAK STATEMENTS: IT is used to destroy or stop any execute loop

In [ ]:
# (1) CONTINUE STATEMENT:
for i in range(1,11):
  if i == 5:
    continue
  else:
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
# BREAKE STATEMENT
for i in range(1,11):
  if i ==7:
    break
  else:
    print(i)

1
2
3
4
5
6

# **Problem Solving**

In [ ]:
# PROBLEM SOLVING

In [ ]:
# TASK 1 :
# Write a program to find the sum of all even numbers upto 50
sum = 0
for i in range(1,51):
  if i % 2 == 0:
    sum += i



print("the sum of all even numbers up to 50 is ",sum)

the sum of all even numbers up to 50 is  650

In [ ]:
  # TASK 2 :
  # Write a program to write first 20 numbers and their square
for i in range(1,21):
  print(i, i**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400

In [ ]:
# TASK 3 :
# Write a program to find sum of first 10 odd number using while loop
sum = 0
n = 0
while n <= 20:
  if n % 2 != 0:
    sum += n
  n += 1

print("the sum of first 10 add number is",sum)

the sum of first 10 add number is 100

In [ ]:
# TASK 4 :
# Write a program  to check if it divisible by 8 and 12 numbere, up to 100 number
for i in range(1,101):
  if i % 8 and i % 12 == 0:
    print(i)

12
36
60
84

In [ ]:
while True:
  Name= input("enter the customer's name here:")
  total = 0
  while True:
    quantity=float(input("enter the quantity of items:"))
    amount=float(input("enter the amount of items:"))
    total += quantity * amount
    repeat = input("Do you want to add more items(yes or no):")
    if repeat == "no" or repeat == "No":
      break

  print("_"*50)
  print("Name",Name)
  print("Amount to be paid",total)
  print("**************HAPPY SHOPING*******************")
  print("_"*50)


  repeat1 = input("Do you want to move next customers:")
  if repeat1 == "no" or repeat1 =="No":
    break

enter the customer's name here:malikkkkkkk
enter the quantity of items:789
enter the amount of items:23
Do you want to add more items(yes or no):no
__________________________________________________
Name malikkkkkkk
Amount to be paid 18147.0
**************HAPPY SHOPING*******************
__________________________________________________
Do you want to move next customers:no

In [ ]:
while True:
    Name = input("Enter the name here:")
    total = 0

    while True:
        print("Enter the amount and quantity")
        quantity = float(input("Enter the quantity here:"))
        amount = float(input("Enter the amount here:"))
        total += quantity * amount
        repeat = input("Do you want to add more item? (yes or no)")
        if repeat.lower() == "no":
            break

    print("_" * 40)
    print("Name:", Name)
    print("Amount to be paid:", total)
    print("-" * 40)

    print("**********Happy shopping***********")

    repeat1 = input("Do you want to move to the next customer? (yes/no)")
    if repeat1.lower() == "no":
        break

Enter the name here:johm
Enter the amount and quantity
Enter the quantity here:3
Enter the amount here:500
Do you want to add more item? (yes or no)no
________________________________________
Name: johm
Amount to be paid: 1500.0
----------------------------------------
**********Happy shopping***********
Do you want to move to the next customer? (yes/no)yes
Enter the name here:lili
Enter the amount and quantity
Enter the quantity here:9
Enter the amount here:32
Do you want to add more item? (yes or no)yes
Enter the amount and quantity
Enter the quantity here:48
Enter the amount here:499
Do you want to add more item? (yes or no)no
________________________________________
Name: lili
Amount to be paid: 24240.0
----------------------------------------
**********Happy shopping***********
Do you want to move to the next customer? (yes/no)no

# **Problem Solving**

In [ ]:
# Other problem solving
A = "Why fit in,When you are Born to Stand Out!"

In [ ]:
# TASK 1 :
# Write a program to find the length of following string
print(len(A))

42

In [ ]:
# TASK 2 :
#Write a program to find how many time come alphabet o in following string
a = "Why fit in,When you are Born to Stand Out!"
print(a.count("o"))

3

In [ ]:
# TASK 3 :
# Write a program to change in lower and upper case
print(a.lower())
print(a.upper())

why fit in,when you are born to stand out!
WHY FIT IN,WHEN YOU ARE BORN TO STAND OUT!

In [ ]:
# TASK 4 :
# Write a program to change the following string into title
print(a.title())

Why Fit In,When You Are Born To Stand Out!

In [ ]:
# TASK 5 :
# Write a program to find the index of "fit in"
print(a.find("fit in"))

4

# **Problem Solving**

In [ ]:
# PROBLEM SOLVING
# write a program to draw some pattern
for i in range(1,6): # for rows
  for j in range(1,i+1): # for column
    print("*" , end = " ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(1,6): # for rows
  for j in range(1,i+1): # for column
    print(i, end = " ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(1,6):
  for j in range(6,i,-1):
    print(i, end = " ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
for i in range(1,6):
  for k in range(6,i,-1):
    print(i, end=" ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
for i in range(1,6):
  for x in range(6,i,-1):
    print("*", end = " ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,6):
  for j in range(5,i,-1):
    print(" ", end = " ")
  for k in range(i):
      print("x",end = " ")
  print()

        x
      x x
    x x x
  x x x x
x x x x x

In [ ]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("x",end = " ")
  print()
for i in range(5,0,-1):
  for k in range(0,i-1):
    print("x",end = " ")
  print()

x
x x
x x x
x x x x
x x x x x
x x x x
x x x
x x
x

In [ ]:
for i in range(1,11):
  for k in range(1,11):
    print(i*k,end = " ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
for i in range(1,11):
  for k in range(1,i+1):
    print(i*k,end = " ")
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

# **String Manipulation**
# String
Strings are the combination of number, symbols and letters, enclosed inside quotations.

# Creation of a String:
Strings can be created by enclosing numbers, letters or special symbols inside double quotations.

It means assigning a string value to a variables.

a = ("hello world")

print(a)

In [ ]:
# TOPIC: String manipulation
a = "Hello world"
print(a)

Hello world

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
# String Function : Part 01

In [ ]:

# (1) length
# (2) count
# (3) upper
# (4) lower
# (5) index
# (6) capitalized
# (7) casefold
# (8) find
# (9) format
# (10) center

In [ ]:
a = "Harry potter and the Goblet fire"
print(a)
# find the length of string
print(len(a))
# to find that how many times come the letter in string
print("the letter o comes:",a.count("o"))
# to change the string in upper case
print("upper case:", a.upper())
# To change the string in lower case
print("lower case:",a.lower())
# To find the index any number
print("the indux number of y:",a.index("y"))
# to convert in the capitalized function to string then it conver it first capitalized letter
print("capitalized:",a.capitalize())
# title function
print("titile function:",a.title())
# casefold function
print("casefold function:",a.casefold())
# find function
print("find function check the index :",a.find("the"))
# format function
name = "johm"
age = 23
b = "my name is {} and my age is {}"
print(b.format(name,age))
# center function
print(name.center(20,"*"))

Harry potter and the Goblet fire
32
the letter o comes: 2
upper case: HARRY POTTER AND THE GOBLET FIRE
lower case: harry potter and the goblet fire
the indux number of y: 4
capitalized: Harry potter and the goblet fire
titile function: Harry Potter And The Goblet Fire
casefold function: harry potter and the goblet fire
find function check the index : 17
my name is johm and my age is 23
********johm********

In [ ]:
# string fuction : Part 02

In [ ]:

# (1) isalnum
# (2) isalpha
# (3) isnumeric
# (4) isdigit
# (5) isdecimal
# (6) isupper
# (7) islower
# (8) isspace
# (9) istitle

In [ ]:
a = "helloworld"
b = "1234helloworld"
c = "45689"
d = " "
e = "HELLOWORLD"
f = "Hellow world @"
g = "234.6"

In [ ]:
# isalnum function : if space or symbol is come then return it false otherwise true
print(a,a.isalnum())
print(c, c.isalnum())
print(f,f.isalnum())
# isalpha function: if character are present then return true otherwise false
print(a,a.isalpha())
print(b,b.isalpha())
print(g,g.isdigit())
print(g,g.isdecimal())
print(e,e.isupper())
print(a,a.islower())
print(d,d.isspace())
print(e,e.istitle())

helloworld True
45689 True
Hellow world @ False
helloworld True
1234helloworld False
234.6 False
234.6 False
HELLOWORLD True
helloworld True
  True
HELLOWORLD False

In [ ]:
# String function : part 3

In [ ]:
#(1) : startswith()
#(2) :endswith()
#(3) :swapcase()
#(4) :strip()
#(5) :split()
#(6) :ljust()
#(7) :rjust()
#(8) :replace()
#(9) :rindux()
#(10): rfind()

In [ ]:
# (1) : Startswith()
a= "Harry Potter"
print(a.startswith("H"))
# (2) : endswith()
print(a.endswith("r"))
# (3) : Swapcase()
print(a.swapcase())
# (4) : strip()

True
True
hARRY pOTTER

In [ ]:
# (5) : strip()
a = "     Harry Potter     "
print(a)
print(a.strip())

     Harry Potter
Harry Potter

In [ ]:
#(6) : Split
a = "#sbpc#abc#dfg#jkl"
print(a)
print(a.split("#"))

#sbpc#abc#dfg#jkl
['', 'sbpc', 'abc', 'dfg', 'jkl']

In [ ]:
#(7): ljust
a = "harry potter"
x = a.ljust(40,"*")
print(x,"is my fovourite movie" )

harry potter**************************** is my fovourite movie

In [ ]:
#(8): rjust
a = a.rjust(50,"~")
print(a,"what a persom")

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~harry potter what a persom

In [ ]:
#(9): replace
a = "He is Jhon. he is brilliant man"
print(a.replace("Jhon","kahlid"))

He is kahlid. he is brilliant man

In [ ]:
#(10): rindux
a = "Harry Potter and a prisoner run away"
print(a.rindex("prisoner"))
print(a.rindex("Harry"))

19
0

In [ ]:
print(a.rfind("Potter"))

6

# **Slicing in Strings**

In [ ]:
# SLICING IN STRING :
a = "Harry and Poter and Goblet fire"
print(a)
print(a[0:5])
print(a[10:15])
print(a[:5])
print(a[-4:])

Harry and Poter and Goblet fire
Harry
Poter
Harry
fire

In [ ]:
b = "0123456789"
print(b)
print(b[::2])
print(b[:7:2])
print(b[::-1])
print(b[6::-1])

0123456789
02468
0246
9876543210
6543210

# **Problem Solving**

In [ ]:
# PROBLEM SOLVING :
# (1) Write a program to get a febonaci series up to 10 numbers.
# (2) Write a program to check if a number is prime or not.
# (3) Write a program to find palindrome of integers/
# (4) Write a program to create an area calculator.

In [ ]:
# fibonocci series
a = 0
b = 1

print(a)
print(b)
for i in range(2,11):
  c = a+b
  a = b
  b = c
  print(c)

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
# If a prime number is or not
num = int(input("enter the number here: "))
if num <=1:
  print("it is not a prime number")
else:
  for i in range(2,num):
    if num%2 == 0:
      print("not a prime a number")
      break
  else:
    print("it is a prime number:")

enter the number here: 5
it is a prime number:

In [ ]:
k = int(input("enter the any number here:"))
if k<=1:
  print("It is not a prime number")
else:
  for i in range(2,k):
    if k%2==0:
      print("It is not a prime number")
      break
  else:
    print("It is  a prime number")

enter the any number here:23
It is  a prime number

In [ ]:
# To check palindrome number
num = int(input("enter a number here:"))
temp = num
rev = 0
while num>0:
  dig = num % 10
  rev = rev * 10 + dig
  num = num //10

if rev ==temp :
  print("it is palindrome")
else:
  print("it is not a palindrome")

enter a number here:333
it is palindrome

In [ ]:
# PROBLEM SOLVING
A = "OOTD.YOLO.ASAP.BRB.GTG.OTW"
#(1) Write a program to separate the following string into comma(,)separated values
print(A.split("."))
# (2) Write a program to sort string alphabetically into python.
a = input("enter anything here:")
b = sorted(a)
print(b)

# (3) Write a program to remove given character from a string.
print(a.replace("e",""))
Z = "F.R.I.E.N.D.S"
# (4) Write a program to remove dot(.) from a string.
print(Z.split("."))
print(Z.replace(".",""))
# (5) Write a program to check the number of occurance
a = "he is my best friend and he is loyal boy"
print(a.count("he"))

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']
enter anything here:fello
['e', 'f', 'l', 'l', 'o']
fllo
['F', 'R', 'I', 'E', 'N', 'D', 'S']
FRIENDS
2

In [ ]:
#PROBLEM SOLVING
#(1) Take an input from a user as a string then, reverse it.
a = input("enter anything here:")
print(a[::-1])
#(2) Write a program to check if a string contain only digit.
#(3) Write a program to check if a string is palindrom.
#(4) Write a program to check vowels in a string.
#(5) Write a program to check if every word in string begins with a capital letter.

enter anything here:for o loop only fo stetting
gnittets of ylno pool o rof

In [ ]:
#(2) ******************************************
a = input("enter anything here:")
b = (a.isdigit())
if b == True:
  print("it have only digit:")
else:
  print("not only digit")

enter anything here:helo234
not only digit

In [ ]:
#(3) ***************************************************
a = input("enter anything here:")
rev = a[:: -1]
if a ==rev:
  print("it is a palindrom")
else:
  print("it is not palindrom")

enter anything here:madam
it is a palindrom

In [ ]:
input = input("enter the anything here:")
k = input[::-1]
if input==k:
  print("It is a palindrome")
else:
  print("It is not a palindrome")

enter the anything here:baba
It is not a palindrome

In [ ]:
 #(4) Write a program to check vowels in a string.*******************************************************
a = input("enter the any string:")
vowels = 0
for i in a:
  if i== "e" or i=="a" or i== "i" or i== "o" or i== "u" or i== "A" or i== "E" or i== "I" or i== "O" or i== "U":
    vowels +=1
print("the number of vowels is :",vowels)

TypeError: 'str' object is not callable

In [ ]:
a = input("enter the any here:")
vowels=0
for i in a :
  if i == "e" or i=="a" or i=="i" or i=="o" or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U":
    vowels +=1
print("the number of vowels is :", vowels)

TypeError: 'str' object is not callable

In [ ]:
# (5) ***************************************************************
a = "Harry Potter And Gold Is Fire"
print(a.istitle())

True

In [ ]:
# Introduction to List: List are the collection fo ordered and mutable data................
#.List are written by Square bracket[]
#. the value inside list is separated by comma,
#.Mutable means once created,they can be changed
#.Multiple datatypes is written in a list e.g........
fruits = ["apple","banana","mango",23,23.3,5]
print(fruits)
print(type(fruits))

['apple', 'banana', 'mango', 23, 23.3, 5]
<class 'list'>

In [ ]:
# List
a = ["apple","banana","cherry"]
print(a)

['apple', 'banana', 'cherry']

In [ ]:
#SLICING LIST
# TO known the index checking
a = ["ironman","tho","captain America","Hulk"]
print(a[2])
print(a[-1])
print(a[:2])
print(a[::2])
print(a[1:])
print(a[-1])
print(a[::-1])

captain America
Hulk
['ironman', 'tho']
['ironman', 'captain America']
['tho', 'captain America', 'Hulk']
Hulk
['Hulk', 'captain America', 'tho', 'ironman']

# **List:**
Lists are the collection of ordered and mutable data.



*   Lists are written inside the squared brackets.

*   The value inside a list is separated by coma(,).
*   Mutable means once created, they can be changed.


*   Multiple datatypes can written inside a list.

In [ ]:
fruits = ["Apple","Banana","Mango","Cherry"]
print(fruits)
print(type(fruits))

['Apple', 'Banana', 'Mango', 'Cherry']
<class 'list'>

In [ ]:
# LIST ITERATION:
# 1 Iteration fo loop
# 2 Tteration using for loop with range and length function.
# 3 Iteration using while Loop
# 4 Using short hand for loop

In [ ]:
a = ["apple","banana","cherry","mango"]
print(len(a))
for i in a:
  print(i)

4
apple
banana
cherry
mango

In [ ]:
for i in range(len(a)):
  print(a[i])

apple
banana
cherry
mango

In [ ]:
# iteration with while loop
i = 0
while i < len(a):
  print(a[i])
  i += 1

apple
banana
cherry
mango

In [ ]:
# iteration with short hand for loop
[print (i) for i in a]

apple
banana
cherry
mango

[None, None, None, None]

In [ ]:
# LIST FUNCTION: PART 01
# To find the length of list
# To count occurance of a particular element
# To add the list
# To add to a specification location
# To remove from a list

In [ ]:
# T0 find the length of list
a = ["apple","banana","cherry","mango","dates"]
print(len(a))

5

In [ ]:
# To count occurance of a particular elemant
print(a.count("cherry"))

1

In [ ]:
# To add the list
print(a)

['apple', 'banana', 'cherry', 'mango', 'dates']

In [ ]:
# To add to a specification location
a.insert(2,"vision")
print(a)

['apple', 'banana', 'vision', 'cherry', 'mango', 'dates', 'Haris', 'orange', 'mango']

In [ ]:
# To remove from a list
a = ['apple', 'banana', 'vision', 'cherry', 'mango', 'dates', 'Haris', 'orange', 'mango']
print(a)
print(a.remove("Haris"))
print(a)

['apple', 'banana', 'vision', 'cherry', 'mango', 'dates', 'Haris', 'orange', 'mango']
None
['apple', 'banana', 'vision', 'cherry', 'mango', 'dates', 'orange', 'mango']

In [ ]:
print(a.pop(4))
print(a)

dates
['apple', 'banana', 'vision', 'cherry', 'orange', 'mango']

In [ ]:
# LIST FUNCTION PART 02:
# TO  creat a copy of list
# To access of an element
# To entend the list
# To reverse the list
# To sort the list
# To clear all the data from the list

In [ ]:
# 1. To create a copy of list
a =['apple', 'banana', 'vision', 'cherry', 'mango', 'dates', 'Haris', 'orange', 'mango']
a.copy()
print(a)

['apple', 'banana', 'vision', 'cherry', 'mango', 'dates', 'Haris', 'orange', 'mango']

In [ ]:
# 2. To access of an element
print(a.index("dates"))

5

In [ ]:
# 3. To entended of an element
a =['apple', 'banana', 'vision', 'cherry', 'mango', 'dates', 'Haris', 'orange', 'mango']
c =["vision","spiderman"]
a.extend(c)
print(a)

['apple', 'banana', 'vision', 'cherry', 'mango', 'dates', 'Haris', 'orange', 'mango', 'vision', 'spiderman']

In [ ]:
# 4. To reverse the list
a =['apple', 'banana', 'vision', 'cherry', 'mango', 'dates', 'Haris', 'orange', 'mango']
a.reverse()
print(a)

['mango', 'orange', 'Haris', 'dates', 'mango', 'cherry', 'vision', 'banana', 'apple']

In [ ]:
# 5. To sort the list.
d = [1,2,3,5,8,5,0,9]
d.sort()
print(d)

[0, 1, 2, 3, 5, 5, 8, 9]

In [ ]:
# 6. To clear the all data from string.
a.clear()
print(a)

[]

In [ ]:
from re import L
# LIST COMPREHENSION:
L1 = [10,20,30,40,50,60]

L2 = []
for i in L1:
  L2.append(i)
print(L1,L2)

[10, 20, 30, 40, 50, 60] [10, 20, 30, 40, 50, 60]

In [ ]:
# List comprehension
L3 = [i for i in L1]
print(L3)

[10, 20, 30, 40, 50, 60]

In [ ]:
# Problem Solving
#1. Write a program to swap first and forth element
#2. Write a program to add new value at second position.
#3. Write a program to delete a value from third position.
# B = [30,59,70,20]
#4. Write a program to multiply all the numbers in the list.
#5. Write a program to get the largest number in the list.
#6. Write a program to ger the smallest number in the list.

In [ ]:
# 1. ************************************************* the value have been swaped
A = ["Rose","Rachel","Monica","Joe"]
A[0],A[3] = A[3],A[0]
print(A)

['Joe', 'Rachel', 'Monica', 'Rose']

In [ ]:
#2. *********************************** to add new value at second position.
A.insert(1,"phobie")
print(A)

['Joe', 'phobie', 'Rachel', 'Monica', 'Rose']

In [ ]:
#3.****************************** to delete a value from third position.
A.pop(2)
print(A)

['Joe', 'phobie', 'Monica', 'Rose']

In [ ]:
B = [30,50,70,20]
#4.****************Write a program to multiply all the number in the list.
mult = 1
for i in (B):
  mult *=i
print(mult)

2100000

In [ ]:
B = [30, 50, 70, 20]

# Initialize the multiplication result to 1
mult = 1

# Multiply each element in the list
for i in B:
    mult *= i

# Print the result
print(mult)

2100000

In [ ]:
#5.************** Write a program to get largest value in a list and smallest value.
B.sort()
print(B)
print("the largest value of the list is:",B[-1])
print("the smallest value of the list is:",B[0])

[20, 30, 50, 70]
the largest value of the list is: 70
the smallest value of the list is: 20

In [ ]:
j = [49,20,60,40,80,60,20]
j.sort()
print(j)
print(j[-1])
print(j[0])

[20, 20, 40, 49, 60, 60, 80]
80
20

# **Tuples**

In [ ]:
# TUPLES: Tuples are collection of ordered and un-mutable data.
#. There is no bracket mandatory but by the choice one can be used is parenthesis()
#.Un-mutable mean that vlue can't be changed
#. values are separated by comma,.
#. Multiple datatypes are written in tuples

In [ ]:
b = "mango","apple","banana"
a = ("halmoni","kora","salmonella")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [ ]:
# the value inside the tuple can't be changed.
b.append("typhi")
print(b)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
a = "Hello"
b = "Hello",
print(type(a))
print(type(b))

<class 'str'>
<class 'tuple'>

In [ ]:
#slicing and iteration in tuple
a = ["oneplus","vivo","sumsung","oppo","redmi"]
print(a[1:3])
print(a[:3])
print(a[0:])
print(a[::2])
print(a[::-1])
print(a[::])

['vivo', 'sumsung']
['oneplus', 'vivo', 'sumsung']
['oneplus', 'vivo', 'sumsung', 'oppo', 'redmi']
['oneplus', 'sumsung', 'redmi']
['redmi', 'oppo', 'sumsung', 'vivo', 'oneplus']
['oneplus', 'vivo', 'sumsung', 'oppo', 'redmi']

In [ ]:
# Iteration
# With for loop
a = ["oneplus","vivo","sumsung","oppo","redmi"]
for i in a:
  print(i)

oneplus
vivo
sumsung
oppo
redmi

In [ ]:
# along with range and length in tuples for loop
for i in range(len(a)):
  print(a[i])

oneplus
vivo
sumsung
oppo
redmi

In [ ]:
# along with While loop
i = 0
while i< len(a):
  print(a[i])
  i += 1

oneplus
vivo
sumsung
oppo
redmi

In [ ]:
# CONVERSION OF TUPLES AND TUPELS FUNCTION
a = ("oppo","redmi","sumsung")
print(a)
print(type(a))
a = list(a)
print(type(a))
print(a)
a.append("vivo")
a = tuple(a)
print(type(a))
print(a)

('oppo', 'redmi', 'sumsung')
<class 'tuple'>
<class 'list'>
['oppo', 'redmi', 'sumsung']
<class 'tuple'>
('oppo', 'redmi', 'sumsung', 'vivo')

In [ ]:
# Tuples function
print(a)
print(a.count("sumsung"))
print("the index of sumsung",a.index("sumsung"))

('oppo', 'redmi', 'sumsung', 'vivo')
1
the index of sumsung 2

In [ ]:
# PROBLEM SOLVING:
#1.Convert the following dictionary into jason format.
student_data = {"Name":"Mudassir","age":20,"marks":80}
#2.Access the value of age from given data.
#3.Pretty print following jason data.
#4.Sort the following Jason keys and write them into a file.

In [ ]:
#1.Convert the following dictionary into jason format.
import json
student_data = {"Name":"Mudassir","age":20,"marks":80}
print(type(student_data))
json_data = json.dumps(student_data)
print(json_data)
print(type(json_data))

<class 'dict'>
{"Name": "Mudassir", "age": 20, "marks": 80}
<class 'str'>

In [ ]:
import json

student_data = {"Name": "Mudassir", "age": 20, "marks": 80}

# Convert the dictionary to JSON format
json_data = json.dumps(student_data)

# Print the JSON data
print(json_data)
print(type(json_data))

{"Name": "Mudassir", "age": 20, "marks": 80}
<class 'str'>

In [ ]:
import json

student_data = {"Name": "Mudassir", "age": 20, "marks": 80}
print(type(student_data))

# Corrected module name
data = json.dumps(student_data)
print(data)
print(type(student_data))

<class 'dict'>
{"Name": "Mudassir", "age": 20, "marks": 80}
<class 'dict'>

In [ ]:
#2.Access the value of age from given data.

student_data = {"Name": "Mudassir", "age": 20, "marks": 80}
value_age = student_data["age"]
print("age",value_age)

age 20

In [ ]:
  #3.Pretty print following jason data.
student_data = {"Name": "Mudassir", "age": 20, "marks": 80}
json_data = json.dumps(student_data, indent=4,separators=(",","="))
print(json_data)

{
    "Name"="Mudassir",
    "age"=20,
    "marks"=80
}

In [ ]:
#4.Sort the following Jason keys and write them into a file.
student_data = {"Name": "Mudassir", "age": 20, "marks": 80}
f = open("demo.json","w")
json_data = json.dumps(student_data,indent=4,sort_keys=True)
f.write(json_data)
print("the data has been added into the file:",json_data)

the data has been added into the file: {
    "Name": "Mudassir",
    "age": 20,
    "marks": 80
}

In [ ]:
# INRODUCTION OF DICTIONARY:   Dictionary allows user to write the data in form of keys and values.
#. Dictionary are enclosed in curley brackets.
#. Keys and Values are separated by colon.
#. Every key value pair is separated by comma,

In [ ]:
Employee_Data = {"Name":"Jhon","Age":23,"Gender":"male"}
print(Employee_Data)

{'Name': 'Jhon', 'Age': 23, 'Gender': 'male'}

In [ ]:
print(Employee_Data["Gender"])

male

In [ ]:
# Iteration in dictionary
#printing all the keys one by one
#printing all the values one by one
#using value function.
#using item function.

In [ ]:
#printing all the keys one by one
for i in Employee_Data:
  print(i)

Name
Age
Gender

In [ ]:
#printing all the values one by one.
for i in Employee_Data:
  print(Employee_Data[i])

Jhon
23
male

In [ ]:
# using the value function.
for i in Employee_Data.values():
  print(i)

Jhon
23
male

In [ ]:
# using the item function.
for i,j in Employee_Data.items():
  print(i,"=",j)

Name = Jhon
Age = 23
Gender = male

In [ ]:
# Dictionary Functions Part 01:
#1. get
#2.item
#3.keys
#4.values
#5.Copy

In [ ]:
# get Function.
Student = {"Name":"Jhon","Class":"6th","Roll_N0":14}
i = Student.get("Roll_N0")
print(i)

14

In [ ]:
for i,j in Student.items():
  print(i,"-",j)

Name - Jhon
Class - 6th
Roll_N0 - 14

In [ ]:
# item Function.
a = Student.items()
print(a)

dict_items([('Name', 'Jhon'), ('Class', '6th'), ('Roll_N0', 14)])

In [ ]:
#3/ keys function
a = Student.keys()
print(a)

dict_keys(['Name', 'Class', 'Roll_N0'])

In [ ]:
#4. Values function
b = Student.values()
print(b)

dict_values(['Jhon', '6th', 14])

In [ ]:
d = Student.copy()
print(d)

{'Name': 'Jhon', 'Class': '6th', 'Roll_N0': 14}

In [ ]:
# DICTIONARY FUNCTION PART 02
#1. Setdefault
#2. Update
#3. pop
#4. popitem
#5. clear

In [ ]:
# Nested dictionary
Employee_Data = {1:{"Name":"John","Age":23,"Gender":"male"},
                 2:{"Name":"Lisa","Age":34,"Gender":"Female"},
                 3:{"Name":"Petter","Age":43,"Gender":"Male"}}
print(Employee_Data)

{1: {'Name': 'John', 'Age': 23, 'Gender': 'male'}, 2: {'Name': 'Lisa', 'Age': 34, 'Gender': 'Female'}, 3: {'Name': 'Petter', 'Age': 43, 'Gender': 'Male'}}

In [ ]:
print(Employee_Data[3]["Age"])

43

In [ ]:
# PROBLEM SOLVING
#1. Write a python program to sort a dictionary by values
a = {"a":23,"b":32,"c":54,"d":45,"f":60}
b = sorted(a.values())
print(b)

[23, 32, 45, 54, 60]

In [ ]:
# INTRODUCTION TO SETS:  Sets are unordered collection of data. Every element insdie the set is unique and mutable
# Sets are written inside the  curley brackets
# The value of inside are separated by comma,
# Mutable means once created, that can't be changed.

In [ ]:
a = {"pustle","Numle","Monica","Freshy"}
print(a)
print(type(a))
for i in a:
  print(i)
print(a.copy())

{'Numle', 'Freshy', 'Monica', 'pustle'}
<class 'set'>
Numle
Freshy
Monica
pustle
{'Numle', 'Freshy', 'Monica', 'pustle'}

In [ ]:
# Sets function part 01:
# add
a.add("Marter")
print(a)
# pop
a.pop()
print(a)
# remove
a.remove("Marter")
print(a)
# discard
a.discard("Monica")
print(a)
# copy
print(a)
b = a.copy()
print(b)

{'Marter', 'Freshy'}
{'Marter'}
set()
set()
set()
set()

In [ ]:
# Set Functions Part 02:
# isdisjoint
# issubset
# issuperset
# update
# clear

In [ ]:
# Set Function part 03:
#union
#Difference
#Difference update
#Intersection
#Intersection Update
#Symmetric Difference
#Symmetric Difference Update

In [ ]:
# PROBLEM SOLVING:
# Write a program to find max and min in a set?
# Write a program to find common elements in three lists using sets?
# write a program to find difference between two sets?
# Write a python program to remove an item from a set if it is present in the set?
# Write a python program to check if a set is a subset of another set?

In [ ]:
# Write a program to find max and min in a set?
a = {35,20,50,75,98,1,63,55}
maximum = max(a)
minimum = min(a)
print("the maximum value of a set:",maximum)
print("the minimum value of a set:",minimum)

the maximum value of a set: 98
the minimum value of a set: 1

In [ ]:
# Write a program to find common elements in three lists using sets?
a = [1,2,5,7,6,9]
b = [5,4,3,6,8,]
c = [1,3,5,6,9]
print(set(a) & set(b) & set(c))

{5, 6}

In [ ]:
# write a program to find difference between two sets?
a = {1,2,5,7,6,9}
b = {5,4,3,6,8,}

print (a.difference(b))

{1, 2, 9, 7}

In [ ]:
# Write a python program to remove an item from a set if it is present in the set?
a = {1,2,5,7,6,9}
a.discard(5)
print(a)

{1, 2, 6, 7, 9}

In [ ]:
# Write a python program to check if a set is a subset of another set?
a = {5,6,7,8,9}
b = {5,6,7}
print(b.issubset(a))

True

In [ ]:
# INTRODUCTION TO FUNCTION:  COMPLETE.......
# FUNCTION: Function are set of code, once are created and they can be used throughout the program.
# Function are help break our program into smaller parts and helps in more lookable, organized and manageable

In [ ]:
def hello():
  print("hello world")
# call the function
hello()

hello world

In [ ]:
def add():
  x = 67
  y = 80
  print(x + y)
# call the function
add()

147

In [ ]:
# PARAMETERS AND ARGUEMENT:
# PARAMETRS:    Parameter are the variable written inside the paranthesis with the name of function
# ARGUEMENT:    Arguement are the values passed to the parameter when calling the function.
def add(x,y):
  print(x+y)
# Arguement
add(34,67)
add(50,20)

101
70

In [ ]:
def rectangle(length,width):
  print("the area of rectangle is :",length*width)
rectangle(23,2)

the area of rectangle is : 46

In [ ]:
def hello(*name):
  print("hello my name is :", name[2])

hello("john","Lisa","Monica")

hello my name is : Monica

In [ ]:
# Return statements and recursion in function:
# Return Statements:   Return Statements are used in python to exit a function and the return the value of the function.
def hello():
  return("Hello world")
print(hello())

Hello world

In [ ]:
def add(x,y):
  return("the add of two numbers is:",x + y)

print(add(12,24))

('the add of two numbers is:', 36)

In [ ]:
# Recursion in python:
# Recursion is most commonly used in mathematical and programming concept.Recursion means a function can call itself, giving us a benefit of looping through data in order to gent a result

In [ ]:
def fact(n):
  if n == 1:
    return 1
  else:
    return (n*fact(n-1))
print(fact(4))
print(fact(5))

24
120

In [ ]:
# Advantage of recursion:
#1. code look clean and organized
#2. they can make complex task into simple part
#3. Sequence generation becomes easier

In [ ]:
# Disadvanvantage:
#1. Recursive function takes a lot of memory.
#2. Sometime the logic becomes hard to flow.
#3. Debug is difficulty

In [ ]:
# LAMBDA FUNCTION in python:it is used when anonymus function is required for a short time period
# . It can take numerous Arguement
# . it can take have only one expression.

In [ ]:
# lambda function
a = lambda b : b*5
print(a(4))

20

In [ ]:
x = lambda a,b,c : (a+b)*c
print(x(2,3,5))

25

In [ ]:
# LOCAL AND GLOBAL VARIABLES:
# LOCAL VARIABLES: They are restricted in only one block of code and can't be changed throughout the code.
x = 25
print(x)
def hello():
  x = 26
  return x
print(hello())
print(x)

25
26
25

In [ ]:
# GLABAL VARIABLES: They are not restricted in only one block of code and can be changed throughout the code or program
a = 23
print(a)
def hello():
  global a
  a = 24
  return a
print(hello())
print(a)

23
24
24

In [ ]:
# PROBLEM SOLVING
#1. Write a function to find the maximum of three numbers python.
#2. Write a pythob function to create and print list where the values are square of number between 1 to 30.
#3. Write a python function that takes a number as parameter and check the number is prime or not.
#4. Write a python function that sum all the number in list.
#5. Write a python program to solve the fibonacci series using recursion.

In [ ]:
#1. Write a function to find the maximum of three numbers python.
def maximum_num(val1,val2,val3):
  if val1>val2 and val1 > val3:
    print(val1,"is the greatest number")
  elif val2>val1 and val2>val3:
    print(val2,"is the greatest number")
  else:
    print(val3,"is the greatest number")

print(maximum_num(34,20,58))

58 is the greatest number
None

In [ ]:
#2. Write a pythob function to create and print list where the values are square of number between 1 to 30.
def creat_list():
  l = []
  for i in range(1,31):
    l.append(i**2)
  return l

print(creat_list())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [ ]:
#3. Write a python function that takes a number as parameter and check the number is prime or not.
def check_prime(num):
  if num == 1 :
    print("it is not prime number")
  if num ==2 :
    print("it is a prime number")
  if num>2:
       for i in range(2,num):
         if num % i == 0:
          print("it is not a prime number")
          break
       else:
         print("it is a prime number")
check_prime(11)

it is a prime number

In [ ]:
#4. Write a python function that sum all the number in list.
def add (num):
  total = 0
  for i in num:
    total = total + i
  return (total)
print(add([1,2,4,5,7]))

19

In [ ]:
#5. Write a python program to solve the fibonacci series using recursion.
def fs(n):
  if n ==1:
    return (0)
  elif n ==2:
    return (1)
  else:
    return(fs(n-1)+fs(n-2))
print(fs(8))

13

# Modules

In [ ]:
# INTRODUCTION TO MODULES:  Modules are the (.py) files, that contains a set of function you want to include in your program

# In built modules in ***python***

Datetime,
Random,
Math.



# Datetime

In [ ]:
# Datetime
import datetime
x = datetime.datetime.now()
print(x)

2024-05-05 09:01:56.765897

In [ ]:
y = datetime.datetime(1997,10,15)
print(y.strftime("%a"))

Wed

### Random **Module**

In [ ]:
# Random Module
import random
# the integer value
y = random.randint(1,10)
print(y)

1

In [ ]:
# the string for
l = ["Monica","Salmonela"]
y = random.choice(l)
print(y)

Monica

# Math Module

# Math Module function

max,
min,power,sequare root,Absolute,ceil and floor

In [ ]:
import math

r = max(13,58,90)
print(r)

90

In [ ]:
r = min(11,19,98)
print(r)

11

In [ ]:
# To get the power of any value
a = pow(2,4)
print(a)

16
16

In [ ]:
b = pow(4,2)
print(b)

16

In [ ]:
print(4**2)

16

In [ ]:
# To get sequare root
a = math.sqrt(64)
print(a)

8.0

In [ ]:
# Absolute
a = abs(-12.000)
print(a)

12.0

In [ ]:
#ceil
a = math.ceil(2.5)
print(a)
# floor
b = math.floor(2.8)
print(b)

3
2

# Creation of Module

To create a module, all you need to is create a .py file in a similar path to your python file. Inside that file You can add required functions you needs you program to perform.

To call the module inside your program, all you need to do is used import keywords followed by the name of your .py file

In [ ]:

def add(x,y):
  return (x+y)

a = add(1,3)
print(a)

4